body{
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


.title{
    color: white;
    text-align: center;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.btn-color{
    background-color: #e94e6d;
    color: white;
}

.btn-color:hover{
    background-color: #c5435d;
    color: white;
}

.btn-pos{
    margin: auto;
}


.mail-status{
    background-color: #23b2a4;
    min-height: 100vh;
}

.mail-recept{
    background-color: rgb(255, 254, 251);
    min-height: 100vh;
}

.mail-content{
    border-style: solid  solid solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 8px;
    max-width: 65%;
}

.title-pos{
    margin-top: 28px;
}

.search-pos{
    margin-top: 15px;
}

.nav-links-align{
    margin-top : 3vh;
}
.width100{
    width: 100%;
}

.bgcolor-ynov{
    background-color: #23b2a4;
}

.redcolor-ynov{
    color: #e94e6d;
}

.objectfont{
    font-size: 0.8em;
}

.contentfont{
    font-size: 0.7em;
    color: #a3a3a3;
}

.content-mobile{
    border-style: solid  solid solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 8px;
}
